
<!doctype html>
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
	<head>
		<title>Coming Soon - Illusion</title>
		<!--meta info-->
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta name="author" content="">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="shortcut icon" type="image/x-icon" href="images/fav.ico">
		<!--web fonts-->
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic' rel='stylesheet' type='text/css'>
		<!--libs css-->
		<link rel="stylesheet" type="text/css" media="all" href="plugins/colorpicker/colorpicker.css">
		<!--theme css-->
		<link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="all" href="css/style.css">
		<!--head libs-->
		<script src="js/jquery-2.1.0.min.js"></script>
		<script src="plugins/jquery.queryloader2.min.js"></script>
		<script src="plugins/modernizr.js"></script>
		<script>
			$('html').addClass('d_none');
			$(document).ready(function(){
				$('html').show();
				$("body").queryLoader2({
					backgroundColor: '#fff',
					barColor : '#35eef6',
					barHeight: 4,
					percentage:true,
					deepSearch:true,
					minimumTime:1000
				});
			});
		</script>
	</head>
	<body class="sticky_footer">
		<!--styleswitcher-->
		<div id="styleswitcher" class="shadow_1 bg_light active d_xs_none">
			<button id="open_switcher" class="color_light">
				<i class="icon-cog-alt"></i>
			</button>
			<h5 class="color_dark fw_light m_bottom_20">Style Switcher</h5>
			<p class="fw_light">Layout type</p>
			<ul class="hr_list tabs_nav fs_medium layout_change">
				<li class="active"><a href="#" class="d_block color_dark n_sc_hover">WIDE</a></li>
				<li><a href="#" class="d_block color_dark n_sc_hover">BOXED</a></li>
			</ul>
			<p class="fw_light">Menu type</p>
			<div class="custom_select">
				<div class="select_title r_corners fw_light color_grey">Sticky menu</div>
				<ul id="menu_type" class="select_list r_corners wrapper shadow_1 bg_light tr_all"></ul>
				<select class="d_none">
					<option value="Sticky menu">Sticky menu</option>
					<option value="Side menu">Side menu</option>
				</select>
			</div>
			<p class="fw_light">Header style</p>
			<div class="custom_select">
				<div class="select_title r_corners fw_light color_grey">Header 1</div>
				<ul class="select_list header_change r_corners wrapper shadow_1 bg_light tr_all"></ul>
				<select class="d_none">
					<option value="Header 1">Header 1</option>
					<option value="Header 2">Header 2</option>
					<option value="Header 3">Header 3</option>
					<option value="Header 4">Header 4</option>
					<option value="Header 5">Header 5</option>
					<option value="Header 6">Header 6</option>
				</select>
			</div>
			<p class="fw_light">Footer style</p>
			<div class="custom_select">
				<div class="select_title r_corners fw_light color_grey">Footer 1</div>
				<ul class="select_list footer_change r_corners wrapper shadow_1 bg_light tr_all"></ul>
				<select class="d_none">
					<option value="Footer 1">Footer 1</option>
					<option value="Footer 2">Footer 2</option>
					<option value="Footer 3">Footer 3</option>
					<option value="Footer 4">Footer 4</option>
					<option value="Footer 5">Footer 5</option>
					<option value="Footer 6">Footer 6</option>
				</select>
			</div>
			<p class="fw_light">Background for boxed layout</p>
			<div class="custom_select">
				<div class="select_title r_corners fw_light color_grey">Color</div>
				<ul class="select_list r_corners wrapper shadow_1 bg_light tr_all" id="bg_type"></ul>
				<select class="d_none">
					<option value="Color">Color</option>
					<option value="Image">Image</option>
				</select>
			</div>
			<div id="bg_for_boxed">
				<div id="color_bg">
					<p class="d_inline_m fw_light color_dark m_right_5">Background color:</p>
					<button class="circle d_inline_m" id="select_bg_color"></button>
				</div>
				<div id="image_bg" class="d_none">
					<ul class="hr_list">
						<li class="m_right_5"><button class="circle" data-bg="images/body_bg_1.jpg"></button></li>
						<li class="m_right_5"><button class="circle" data-bg="images/body_bg_2.jpg"></button></li>
					</ul>
				</div>
			</div>
			<button id="reset" class="button_type_3 d_block color_dark color_pink_hover tr_all fs_medium r_corners">Reset</button>
		</div>
		<!--layout-->
		<div class="wide_layout bg_light">
			<!--header markup-->
			<header role="banner" class="relative comming_soon shadow_1">
				<span class="gradient_line"></span>
				<div class="container t_align_c">
					<a href="index.html" class="d_inline_m m_xs_top_20 m_xs_bottom_20">
						<img src="images/logo.gif" alt="">
					</a>
				</div>
			</header>
			<!--coming soon-->
			<section class="coming_soon color_light t_align_c">
				<div class="container">
					<h1 class="fw_light m_bottom_10">Currently we are under construction</h1>
					<p class="m_bottom_35 color_grey_light_3">We will be back in:</p>
					<div id="countdown"></div>
				</div>
			</section>
			<!--content-->
			<div class="section_offset">
				<div class="container clearfix">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 m_xs_bottom_30">
							<h5 class="color_dark m_bottom_23 fw_light">Notify Me</h5>
							<form class="notify_me subscribe_send_form">
								<div class="clearfix">
									<input type="email" class="fw_light f_left f_xs_none r_corners d_inline_m d_xs_block m_xs_bottom_10" placeholder="Enter your email address to be notified first" name="subscribe_email">
									<button class="button_type_6 f_right f_xs_none color_purple transparent r_corners fs_medium tr_all d_inline_m">Subscribe</button>
								</div>
							</form>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<h5 class="color_dark m_bottom_20 fw_light">Stay Connected</h5>
							<ul class="hr_list social_icons">
								<!--tooltip_container class is required-->
								<li class="m_right_15 m_bottom_15 tooltip_container">
									<!--tooltip-->
									<span class="d_block r_corners color_default tooltip fs_small tr_all">Follow Us on Facebook</span>
									<a href="#" class="d_block facebook icon_wrap_size_2 circle color_grey_light_2">
										<i class="icon-facebook fs_small"></i>
									</a>
								</li>
								<li class="m_right_15 m_bottom_15 tooltip_container">
									<!--tooltip-->
									<span class="d_block r_corners color_default tooltip fs_small tr_all">Follow Us on Twitter</span>
									<a href="#" class="d_block twitter icon_wrap_size_2 circle color_grey_light_2">
										<i class="icon-twitter fs_small"></i>
									</a>
								</li>
								<li class="m_right_15 m_bottom_15 tooltip_container m_xs_right_15">
									<!--tooltip-->
									<span class="d_block r_corners color_default tooltip fs_small tr_all">Google Plus</span>
									<a href="#" class="d_block googleplus icon_wrap_size_2 circle color_grey_light_2">
										<i class="icon-gplus-1 fs_small"></i>
									</a>
								</li>
								<li class="m_right_15 m_bottom_15 tooltip_container">
									<!--tooltip-->
									<span class="d_block r_corners color_default tooltip fs_small tr_all">Pinterest</span>
									<a href="#" class="d_block pinterest icon_wrap_size_2 circle color_grey_light_2">
										<i class="icon-pinterest fs_small"></i>
									</a>
								</li>
								<li class="m_bottom_15 m_right_15 m_md_right_15 tooltip_container">
									<!--tooltip-->
									<span class="d_block r_corners color_default tooltip fs_small tr_all">Dribbble</span>
									<a href="#" class="d_block dribbble icon_wrap_size_2 circle color_grey_light_2">
										<i class="icon-dribbble fs_small"></i>
									</a>
								</li>
								<li class="m_right_15 m_bottom_15 tooltip_container m_sm_right_0 m_xs_right_15">
									<!--tooltip-->
									<span class="d_block r_corners color_default tooltip fs_small tr_all">Flickr</span>
									<a href="#" class="d_block flickr icon_wrap_size_2 circle color_grey_light_2">
										<i class="icon-flickr-1 fs_small"></i>
									</a>
								</li>
								<li class="m_right_15 m_bottom_15 tooltip_container">
									<!--tooltip-->
									<span class="d_block r_corners color_default tooltip fs_small tr_all">Youtube</span>
									<a href="#" class="d_block youtube icon_wrap_size_2 circle color_grey_light_2">
										<i class="icon-youtube-play fs_small"></i>
									</a>
								</li>
								<li class="m_right_15 m_bottom_15 tooltip_container">
									<!--tooltip-->
									<span class="d_block r_corners color_default tooltip fs_small tr_all">Vimeo</span>
									<a href="#" class="d_block vimeo icon_wrap_size_2 circle color_grey_light_2">
										<i class="icon-vimeo fs_small"></i>
									</a>
								</li>
								<li class="m_right_15 m_bottom_15 tooltip_container">
									<!--tooltip-->
									<span class="d_block r_corners color_default tooltip fs_small tr_all">Instagram</span>
									<a href="#" class="d_block instagram icon_wrap_size_2 circle color_grey_light_2">
										<i class="icon-instagramm fs_small"></i>
									</a>
								</li>
								<li class="m_bottom_15 tooltip_container">
									<!--tooltip-->
									<span class="d_block r_corners color_default tooltip fs_small tr_all">LinkedIn</span>
									<a href="#" class="d_block linkedin icon_wrap_size_2 circle color_grey_light_2">
										<i class="icon-linkedin-squared fs_small"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<hr class="divider_type_2">
			<!--footer-->
			<footer role="contentinfo" class="bg_light_3 p_top_0">
				<section class="footer_bottom_part t_align_c color_grey bg_light_4 fw_light border_none">
					<p>&copy; 2014 illusion. All Rights Reserved.</p>
				</section>
			</footer>
		</div>

		<!--Libs-->
		<script src="plugins/afterresize.min.js"></script>
		<script src="plugins/jquery.plugin.min.js"></script>
		<script src="plugins/jquery.countdown.min.js"></script>
		<script src="plugins/colorpicker/colorpicker.js"></script>
		<script src="js/styleswitcher.js"></script>
		
		<!--Theme Initializer-->
		<script src="js/theme.plugins.js"></script>
		<script src="js/theme.js"></script>
	</body>
</html>